In [9]:
import os
import sys
import json
import pandas as pd

PROJ_ROOT = os.path.join(os.pardir)

In [10]:
clean_data_path = os.path.join(PROJ_ROOT, 
                         'data',
                         'processed',
                         'full_data.csv')
df=pd.read_csv(clean_data_path)

In [11]:
df.head(1)

,censustract,state_x,county,urban,pop2010,ohu2010,groupquartersflag,numgqtrs,pctgqtrs,lilatracts_1and10,...,stroke among adults aged >=18 years,taking medicine for high blood pressure control among adults aged >=18 years with high blood pressure,visits to dentist or dental clinic among adults aged >=18 years,visits to doctor for routine checkup within the past year among adults aged >=18 years,state_y,fips,mrfei,str_fips,geoid,coords
0,17031010100,Illinois,Cook County,1,4854,2302,0,218.0,4.49,0,...,3.2,70.3,60.4,76.0,IL,1.703101e+10,7.692308,1.703101e+10,17031010100,"[(-87.677199, 42.022942), (-87.670073, 42.0229..."

In [13]:
json_data_path = os.path.join(PROJ_ROOT, 
                         'data',
                         'interim',
                         'column_names.json')
with open(json_data_path) as json_file:
    column_names = json.load(json_file)

In [14]:
df = df.rename(columns = column_names)

In [15]:
to_remove=set(df.columns)-set(column_names.values())

In [16]:
df=df.drop(to_remove, axis=1)

In [17]:
df.head()

,census_tract,state,urban_flag,population,housing_units,group_qtr_flag,ct_grp_qtr,pct_grp_qtr,mf_ia_110,mf_ia_h110,...,prev_clinical_services_m,prev_clinical_services_f,ho_physical_health,ub_sleep,ho_stroke,prev_med_bpressure,prev_dr_visits,prev_checkups,mrfei,geometry
0,17031010100,Illinois,1,4854,2302,0,218.0,4.49,0,1,...,26.8,25.4,11.9,39.8,3.2,70.3,60.4,76.0,7.692308,"[(-87.677199, 42.022942), (-87.670073, 42.0229..."
1,17031010201,Illinois,1,6450,2463,0,163.0,2.53,0,0,...,24.2,22.9,14.0,41.2,3.3,67.5,52.7,73.4,NaN,"[(-87.684653, 42.019484999999996), (-87.680448..."
2,17031010202,Illinois,1,2818,1115,0,315.0,11.18,0,0,...,27.3,24.1,13.6,39.1,3.8,72.4,57.3,75.0,NaN,"[(-87.67685499999999, 42.019411), (-87.673388,..."
3,17031010300,Illinois,1,6236,2826,0,791.0,12.68,0,1,...,29.9,24.8,12.0,36.6,3.5,73.3,62.8,75.4,10.256410,"[(-87.67133, 42.019374), (-87.66949799999999, ..."
4,17031010400,Illinois,1,5042,2098,0,1349.0,26.76,0,0,...,30.7,27.4,8.2,34.7,1.7,62.2,68.7,71.8,8.163265,"[(-87.66345299999999, 42.01283), (-87.66132547..."

In [19]:
clean_data_path = os.path.join(PROJ_ROOT, 
                         'data',
                         'processed',
                         'full_data_final.csv')
df.to_csv(clean_data_path,index=False)